#loading {
	left: 40em;
    top: 25em;
    width: 3rem;
    height: 3rem;
    border: 5px solid yellowgreen;
    border-top: 6px solid #f241e9;
    border-radius: 100%;
    animation: spin 1s infinite linear;
	position:absolute ;
	z-index: 1
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}